<div id="sidebar-wrapper" class="bg-dark">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="{{ path('admin_index') }}">
                Admin panel
            </a>
        </li>
        <li class="dropdown-divider"></li>
        <li>
            <a href="{{ path('admin_list_blog') }}">Blogs</a>
        </li>
        <li>
            <a href="{{ path('admin_list_blog_cat') }}">Blog categories</a>
        </li>
        <li>
            <a href="{{ path('admin_list_tag') }}">Tags</a>
        </li>
        <li class="dropdown-divider"></li>
        <li>
            <a href="{{ path('index') }}">Back to site</a>
        </li>
    </ul>
</div>